<form action="/load_catalog" method="GET" data-remote="true">
  <label for="records">Number of records</label>
  <input type="number" id="records" name="records" value="500">
  <input type="submit" value="Load records from wine.com catalog">
</form>
