<div class="input-group" id='wine-search-form' data-path=<%= wines_path %>>
  <span class="input-group-label">Search</span>
  <%= text_field_tag 'wine-search-input', params[:search], class: "input-group-field"  %>
</div>
