<p id="notice"><%= notice %></p>

<h1>Listing Wines</h1>

<table id="wines" data-source="<%= wines_url(format: "json") %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price retail</th>
      <th>Appellation</th>
      <th>Region</th>
      <th>Varietal</th>
      <th>Type</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Wine', new_wine_path %>
